<!DOCTYPE html>
<html>
    <body>
        <h2>Login Page</h2>
        <form id="Login" autocomplete="on">
            <label for="username">User Name:</label><br>
            <input type="text" id="username" name="username" ><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password"><br>
            <br>
            <input type="submit" value="Submit">
        </form>

        <div id="output"></div>

        <script>
            let Login = document.getElementById("Login");
            Login.addEventListener("submit", (e) => {
                e.preventDefault();
                let username = document.getElementById('username').value
                let password = document.getElementById('password').value

                console.log({username, password});
                console.log(Login)
            // handle submit
            if (username.value == "" || password.value == ""  )
            {
                alert("Ensure you input a value in both fields!");
            } else {
                // perform operation with form input
                alert("This form has been successfully submitted!"
                );
            username.value = "";
            password.value = "" ;
            }

            var jsonData = {
            username : username,
            password : password ,
            };
            console.log(jsonData)
            let jsonString = JSON.stringify(jsonData)
            fetch('http://127.0.0.1:7000/em/log/get_user',
            { method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                // Add any additional headers if needed
            },
            params:jsonString ,
        })
            .then(response => {
                if (response.ok) {
                    alert('Data submitted successfully!');
                    // Optionally, you can redirect or perform other actions after successful submission.
                } else {
                    alert('Error submitting data. Please try again.');
                }
                })
            .catch(error => {
                console.error('Error fetching data:', error);
                document.getElementById('output').innerHTML = '<p>Error fetching data</p>';
            });
          });   
            
        </script>
    </body>
</html>